<!DOCTYPE html>
<html>

  <head>
    <title>Angular Friends</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body ng-app='myApp'>

    <h1>The <strong>facebook</strong> Friend Machine</h1>

    <div class="friends" ng-controller='FriendCtrl'>

      <form class="form-inline searchForm" role="form">
        <div class="form-group">
          <input class="form-control" placeholder="Search Name" ng-model="friendFilter.name">
          <input class="form-control" placeholder="Search state" ng-model="friendFilter.location.state">

          <select class="input-medium" ng-model='sortProp' ng-options='filter.value as filter.label for filter in filters'>
          <!-- <option value="name">Name</option>
          <option value="friend_count">#Friends</option>
          <option value="location.city">City</option>
          <option value="location.state">State</option>
          <option value="location.country">Country</option> -->
        </select>

          <select class="input-medium" ng-model="sortDirection">
          <option value="-">Descending</option>
          <option value="+">Ascending</option>
        </select>
        </div>
      </form>

      <ul ng-repeat="friends in friend | filter:friendFilter | orderBy: sortDirection + sortProp">
        <li class='friend'>
          <img class="profile-pic" ng-src='{{friends.pic_square}}'>
          <h3>{{friends.name}}</h3>
          <div class="location">
            <p>{{friends.location.city}} {{friends.location.state}}</p>
          </div>
          <br>
          <div class="status">
            <p>{{friends.status}}</p>
          </div>
          <br>
          <div class="num-friends">
            <p>{{friends.friend_count}}</p>
          </div>
        </li>
      </ul>
    </div>

    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <!-- your scripts here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
    <script src='app.js'></script>
    <script src='FriendCtrl.js'></script>

  </body>

</html>
